
#board {
    background-color: white;
    margin: auto;    
}
.node {
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    width: 22px;
    /* border-radius: 40px; */
    border: solid lightblue;
    text-align: center;
    font-family: 'Lato', sans-serif;
    /* font-weight: bold; */
}
.node:hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.node.start {
    /* border: solid green; */
    background-image: url('images/car.svg');
}

.node.target{
    /* border: solid red; */
    background-image: url('images/placeholder.svg');

}
.node.visited{
    background-color:lightblue;
}
.node.path{
    background-color: yellow;
}
.node.wall{
    background-color: black;
    border: solid black;
}
.node.hoverSTART {
    background-image: url('images/car.svg');
    opacity: 0.6;
}
.node.hoverTARGET{
    background-image: url('images/placeholder.svg');
    opacity: 0.6;
}

.text_in_node{
    color: lightblue;
    font-weight: bold;
    user-select: none;
}
.transparent{
    opacity: 0;
}
button {
    background-color: skyblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#initDijkstra{
    background-color: #4CAF50;
}
header{
    height: 20vh;
    width: 80vw;
    margin: auto;
}
body {
    margin: auto;
}
