
#board {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;    
}
.node {
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    width: 22px;
    /* border-radius: 40px; */
    border: solid lightblue;
    text-align: center;
    font-family: 'Lato', sans-serif;
    /* font-weight: bold; */
}
.node:hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.node.start {
    /* border: solid green; */
    background-image: url('images/car.svg');
}

.node.target{
    /* border: solid red; */
    background-image: url('images/placeholder.svg');

}
.node.finished{
	background-color: lightgreen;
}
.node.visited{
    background-color:lightblue;
}
.node.path{
    background-color: yellow;
}
.node.wall{
    background-color: black;
    border: solid black;
}
.node.hoverSTART {
    background-image: url('images/car.svg');
    opacity: 0.6;
}
.node.hoverTARGET{
    background-image: url('images/placeholder.svg');
    opacity: 0.6;
}

.text_in_node{
    color: lightblue;
    font-weight: bold;
    user-select: none;
}
.transparent{
    opacity: 0;
}
button {
    background-color: whitesmoke; /* Green */
    border: none;
    color:3a3c3e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.3s;
	outline:none;
	/* width: 150px; */
   
  }
button:hover {
    opacity: 1
}
/* #initDijkstra{
    background-color: #4CAF50;
    color: white;
    opacity: 0.8;
} */
#initDijkstra:hover{
    opacity: 1;
}
.header-user-dropdown {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-user-dropdown .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-user-dropdown .header-limiter h1{
	float: left;
	font:  40px calibri light;
	line-height: 30px;
	margin:0;
	font-weight: bold;
}

.header-user-dropdown .header-limiter h1 span {
	color: #bc40df;
}
.header-user-dropdown .header-limiter h1 div {
	font:  18px calibri light;
	line-height: 50%;
	color: #bc40df;

}
.header-user-dropdown .header-limiter .inline{
	width: 15px;
  	height: 15px;
	/* display: inline; */
	margin: 0 0.125em;
	padding: 0;
	vertical-align: baseline;
  }
/* The header links */

.header-user-dropdown .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-user-dropdown .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-user-dropdown .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 12px;
	opacity: 0.9;
	position: relative;
	text-decoration:none;
	line-height: 1;
}

.header-user-dropdown .header-limiter nav a:hover {
	opacity: 1;
}

/* The "new" badge */

.header-user-dropdown .header-limiter nav a span {
	position: absolute;
	top: -12px;
	border-radius: 2px;
	background-color: #2A6A92;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	height: 13px;
	font-size: 11px;
	right: -15px;
	padding: 1px 4px 0;
}

/* The user menu */

.header-user-dropdown .header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	width:75px;
	height:40px;
	border-radius:2px;
}

.header-user-dropdown .header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-user-dropdown .header-limiter .header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-dropdown .header-user-menu:active ul,
.header-user-dropdown .header-user-menu:hover ul,
.header-user-dropdown .header-user-menu.show ul{
	display:block;
}

.header-user-dropdown .header-user-menu ul li{
	padding:5px;
}

.header-user-dropdown .header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-user-dropdown .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-dropdown .header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}


@media all and (max-width: 800px) {

	.header-user-dropdown .header-limiter h1 {
		font-size: 24px;
	}

	.header-user-dropdown .header-limiter nav a {
		padding: 0 5px;
	}

	.header-user-dropdown .header-limiter nav {
		margin-left: 20px;
	}

}

@media all and (max-width: 600px) {

	.header-user-dropdown .header-limiter nav {
		display: none;
	}

}
body {
    margin-top: auto;
	padding: 0;
	margin: 0; 
	
}
#tutorial{
        position: absolute;
        z-index: 3;
        background-color: rgba(255, 255, 255, 1);
        width: 50%;
        height: 70%;
        border: 2px solid #34495e;
        border-radius: 8px;
        text-align: center;
        float: right;
        margin: auto;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
#tutorial h1{
    font-size: 50px;
}
#tutorial #pageNumber{
    position:absolute; top:1ch; right:1ch; 
}
#tutorial #skip{
    background-color: #4CAF50;
    color: rgba(255, 255, 255);
    position:absolute; bottom:1ch; left:1ch; 
}
#tutorial #next{
    background-color: #4CAF50;
    color: rgba(255, 255, 255);
    position:absolute; bottom:1ch; right:1ch;
    padding: auto;
    /* font-weight: bolder;
    font-size: x-large; */
}
#tutorial #prev{
    background-color: #4CAF50;
    color: rgba(255, 255, 255);
    position:absolute; bottom:1ch; right:12ch;
    padding: auto;
    /* font-weight: bolder;
    font-size: x-large; */

}

#tutorial img{
    width: 50%;
    height: auto;
}
